/** Add css rules here for your application. */

.navigation {
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
    max-height:50px;
}

.redStar {
	color : red;
}

.blackStar {
	color : black;
}

.galleryImage {
	display: block;
	margin: 0 auto;
	padding-top: 1em;
	max-width: 100%;
}

.starVoter {
	margin-top: -2em;
	text-align: center;
	height: 2em;
	background-color: white;
	display: none;
	position: relative;
	opacity: 0.5;
}

.paddingTop {
	padding-top: 50px;
}

.galleryImageFs {
	display: block;
	padding-bottom: 2em;
	max-height: 80vh;
	max-width: 100%;
	margin: 0 auto;
}

.starVoterFs {
	text-align: center;
	height: 2em;
}
