/** Add css rules here for your application. */

.navigation {
	overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px;
    max-height:50px;
}

.redStar {
	color : red;
}

.blackStar {
	color : black;
}

.galleryImage {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

.starVoter {
	margin-top: -4em;
	text-align: center;
	height: 4em;
	background-color: white;
	display: none;
	position: relative;
	opacity: 0.5;
}

.paddingTop {
	padding-top: 50px;
}

.galleryImageFs {
	display: block;
	padding-bottom: 2em;
	max-height: 80vh;
	max-width: 100%;
	margin: 0 auto;
}

.starVoterFs {
	text-align: center;
	height: 2em;
}

.logo {
	max-width:33%;
	margin: 1em 0em;
}

.errorMsg {
	color: red;
}

.galleryImagePadding {
	padding-top: 1em;
}

.infoMsg {
	padding-left: 1em;
}

.paddingTop {
	padding-top: 1em;
}

h5 {
	border-bottom-style: solid;
	border-bottom-with: 1px;
	
}

.loader {
  border: 0.1em solid #f3f3f3; /* Light grey */
  border-top: 0.1em solid #3498db; /* Blue */
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 2s linear infinite;
  float:left;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.floatLeft {
  float: left
}

